{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
ARTICLE NAVIGATION
----------------------------------------------------------------------------------------------------------------------

Shows recommended articles for a given blog post.

* show_date
* show_author
* show_comments_count
{%- endcomment -%}

{%- comment -%} Get recommended articles (excluding current article) {%- endcomment -%}
{%- assign recommended_articles = blog.articles | where: 'id', article.id | first -%}
{%- assign article_count = 0 -%}
{%- assign max_articles = 3 -%}

<div class="article-navigation">
  <div class="container">
    <h2 class="article-navigation__title">YOUR NEXT READ</h2>
  </div>

  <div class="article-navigation__articles scroll-area bleed">
    <div class="article-navigation__list">
      {%- for related_article in blog.articles limit: 10 -%}
        {%- if related_article.id != article.id and article_count < max_articles -%}
          {%- assign article_count = article_count | plus: 1 -%}
          {%- render 'blog-post-card', article: related_article, heading_size: 'h5', show_date: show_date, show_author: show_author, show_comments_count: show_comments_count, show_category: true, show_excerpt: true -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>